html {
    scroll-behavior: smooth;
  }

a:hover {
    font-weight: bold;
}

.bg-dark-gray {
    background-color: #252A2F
}

.text-huge {
    font-size: 5rem;
}

.project-logo {
    width: 10%;
}

.bg-color-pearl {
    background-color: #e9dfc9;
}

.bg-color-vampire {
    background-color: #0b0a08;
}

.border-vampire {
    border-color: #0b0a08;
}

@media (min-width: 600px) { 
    .bg-image {
        background-image: url('/res/hero-image.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
    }
}

@media (max-width: 600px) {
    .mobile-margin {
        margin-top: 100px;
    }
}

@media (min-width: 600px) { /*for medium screens and up take up half space*/
    .w-md-50 {
        width: 50%;
    }
}

@media (min-width: 576px) {
    .w-md-25 {
        width: 25%;
    }
}


@media (max-width: 2560px) {
    .full-screen {
        min-height: 1250px;
    }
}

@media (max-width: 1920px) {
    .full-screen {
        min-height: 900px;
    }
}

@media (max-width: 600px) {
    .full-screen {
        min-height: 500px;
    }
}