html {
    scroll-behavior: smooth;
  }

a:hover {
    font-weight: bold;
}

.bg-dark-gray {
    background-color: #252A2F
}

.text-huge {
    font-size: 5rem;
}

.project-logo {
    width: 10%;
}

.bg-color-pearl {
    background-color: #e9dfc9;
}

.bg-color-vampire {
    background-color: #0b0a08;
}

.border-vampire {
    border-color: #0b0a08;
}

@media (max-width: 2560px) {
    .full-screen {
        min-height: 1250px;
    }
}

@media (max-width: 1920px) {
    .full-screen {
        min-height: 900px;
    }
}

@media (max-width: 600px) {
    .full-screen {
        min-height: 500px;
    }
}