html {
    scroll-behavior: smooth;
  }

a:hover {
    font-weight: bold;
}

.bg-dark-blue {
    background-color: #252A2F
}

.text-huge {
    font-size: 5rem;
}

.project-logo {
    width: 10%;
}

@media (max-width: 2560px) {
    .full-screen {
        min-height: 1250px;
    }
}

@media (max-width: 1080px) {
    .full-screen {
        min-height: 900px;
    }
}

@media (max-width: 600px) {
    .full-screen {
        min-height: 500px;
    }
}